*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    scroll-behavior: smooth;
}

.products-bg-container{
    width:100%;
    max-width: 1300px;
    margin:15px auto;
    padding:0 2rem;
}