.wish-name{
    font-size: 1rem !important;
}

.wish-link .wish-name .wish-title{
    color:black !important;
}
.wish-item{
    color:black !important;
}

@media(max-width:380px){
.cart-item{
    flex-direction: column !important;
}
.wish-image{
    width:100% !important;
}
.wish-name{
    font-size: .8rem !important;
}
.wish-title{
    font-size: .6rem !important;
}
.cart-item-description{
    justify-content: center !important;
    width:100% !important;
    padding:0px !important; 
}
}