@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
*{
    font-family: 'Crete Round', serif;
    text-decoration: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.3; 
  }
input{
    background-color: transparent;
    color:white;
}
.login-bg-container{
    /* background-image: url("../assets//bg1.jpg"); */
    background-image: radial-gradient(white,black);
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-card-container{
    /* height:70vh; */
    padding:10px 0px;
    width:70%;
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 10px 5px black;

    align-items: center;
}
.login-banner{
    width:40%;
   
}
.login-form{
    width:40%;
    display: flex;
    flex-direction: column;
}
.login-logo-container input{
display: none;
}
.login-logo-container img{
    width:22%;
    margin-bottom: 1.5em;
}

.login-logo-container{
    text-align: center;
}
.login-widget{
    width:100%;
    border-bottom: 1px solid black;
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    
   }
.login-widget .login-widget-icon{
    font-size: 20px;
    color:black;
    margin-right: .3em;
}
.login-input-box{
    width:90%;
    border: none; 
    color: black;
    font-size: 1rem;
    height: 40px;
   outline: none; 
}
.login-prime-box{
    display: flex;
    align-items: center;
}
.login-primebox{
    height:19px;
    width:19px;
    margin:.5em;
}
.login-prime-box{

    margin-bottom: 1em;
}
.login-register-btn{
    height:40px;
    width:100%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color:black;
    font-weight: bold;
margin-top: 1em;
}
.login-prime{
    color:black;
    font-weight: bold;
}
.login-haveacc-para{
    font-size: .8rem;
    text-align: center;
    color:white;
}

@media (max-width:700px) {
    .login-logo-container img{
        width:35%;
    }
    
    .login-card-container{
    flex-direction: column;
    }
    .login-banner{
        display: none;
       
    }
    .login-form{
        width:90%;
    }
    .login-card-container{
        width:85%;
    }
}